<?xml version="1.0" encoding="utf-8"?>
<!--
  SoundBox - Android Music Player
  Copyright (C) 2013 Iván Arcuschin Moreno

  This file is part of SoundBox.

  SoundBox is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 2 of the License, or
  (at your option) any later version.

  SoundBox is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with SoundBox.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arcusapp.soundbox"
    android:installLocation="preferExternal"
    android:versionCode="7"
    android:versionName="bananaguard">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <application
        android:name="com.arcusapp.soundbox.SoundBoxApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_soundbox"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <receiver android:name="com.arcusapp.soundbox.util.AudioBecomingNoisyHandler"
            android:enabled="true">
		   <intent-filter>
		      <action android:name="android.intent.action.PHONE_STATE" />
		   </intent-filter>
		</receiver>
        
        <service
            android:name="com.arcusapp.soundbox.player.MediaPlayerService"
            android:icon="@drawable/icon_soundbox"
            android:label="@string/app_name"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.arcusapp.soundbox.action.MEDIA_PLAYER_SERVICE" />
                <action android:name="com.arcusapp.soundbox.action.MEDIA_PLAYER_SERVICE.TOGGLEPLAYPAUSE" />
                <action android:name="com.arcusapp.soundbox.player.MEDIA_PLAYER_SERVICE.PRVIOUS" />
                <action android:name="com.arcusapp.soundbox.player.MEDIA_PLAYER_SERVICE.NEXT" />
                <action android:name="com.arcusapp.soundbox.player.MEDIA_PLAYER_SERVICE.STOP" />
                <action android:name="com.arcusapp.soundbox.player.MEDIA_PLAYER_SERVICE.INCOMMING_CALL" />
                <action android:name="com.arcusapp.soundbox.player.MEDIA_PLAYER_SERVICE.PLAY_NEW_SONGS" />
                <action android:name="com.arcusapp.soundbox.player.MEDIA_PLAYER_SERVICE.CHANGE_FOREGROUND_STATE" />
            </intent-filter>
        </service>

        <activity
            android:name="com.arcusapp.soundbox.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.arcusapp.soundbox.action.MAIN_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arcusapp.soundbox.activity.FoldersActivity"
            android:label="@string/title_activity_folders">
            <intent-filter>
                <action android:name="com.arcusapp.soundbox.action.FOLDERS_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arcusapp.soundbox.activity.PlayActivity"
            android:label="@string/title_activity_play">
            <intent-filter>
                <action android:name="com.arcusapp.soundbox.action.PLAY_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arcusapp.soundbox.activity.SongsListActivity"
            android:label="@string/title_activity_songs_list"
            android:noHistory="true">
            <intent-filter>
                <action android:name="com.arcusapp.soundbox.action.SONGSLIST_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>