<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arcusapp.arcusmusic"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="9" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.arcusapp.arcusmusic.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arcusapp.arcusmusic.FoldersActivity"
            android:label="@string/title_activity_folders" >
            <intent-filter>
                <action android:name="com.arcusapp.arcusmusic.FOLDERS_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arcusapp.arcusmusic.SongsActivity"
            android:label="@string/title_activity_songs" >
            <intent-filter>
                <action android:name="com.arcusapp.arcusmusic.SONGS_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arcusapp.arcusmusic.ArtistsActivity"
            android:label="@string/title_activity_artists" >
            <intent-filter>
                <action android:name="com.arcusapp.arcusmusic.ARTISTS_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arcusapp.arcusmusic.PlayActivity"
            android:label="@string/title_activity_play" >
            <intent-filter>
                <action android:name="com.arcusapp.arcusmusic.PLAY_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arcusapp.arcusmusic.SongsListActivity"
            android:label="@string/title_activity_songs_list" >
            <intent-filter>
                <action android:name="com.arcusapp.arcusmusic.SONGSLIST_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arcusapp.arcusmusic.PlayListsActivity"
            android:label="@string/title_activity_play_lists" >
            <intent-filter>
                <action android:name="com.arcusapp.arcusmusic.PLAYLISTS_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>