<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arcusapp.soundbox"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_soundbox"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <receiver android:name="com.arcusapp.soundbox.util.AudioBecomingNoisyHandler"
            android:enabled="true">
		   <intent-filter>
		      <action android:name="android.intent.action.PHONE_STATE" />
		      <action android:name="android.intent.action.HEADSET_PLUG" />
		   </intent-filter>
		</receiver>
        
        <service
            android:name="com.arcusapp.soundbox.player.MediaPlayerService"
            android:icon="@drawable/icon_soundbox"
            android:label="@string/app_name"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.arcusapp.soundbox.action.MEDIA_PLAYER_SERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.arcusapp.soundbox.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.arcusapp.soundbox.action.MAIN_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arcusapp.soundbox.activity.FoldersActivity"
            android:label="@string/title_activity_folders" >
            <intent-filter>
                <action android:name="com.arcusapp.soundbox.action.FOLDERS_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arcusapp.soundbox.activity.PlayActivity"
            android:label="@string/title_activity_play" >
            <intent-filter>
                <action android:name="com.arcusapp.soundbox.action.PLAY_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arcusapp.soundbox.activity.SongsListActivity"
            android:label="@string/title_activity_songs_list">
            <intent-filter>
                <action android:name="com.arcusapp.soundbox.action.SONGSLIST_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>